<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PMB RANKING PAGE</title>

    <!-- Bootstrap Core CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent"></a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">PMB RANKING PAGE</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#ranking">RANKING</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item" th:if="${currentUser == null}"><a class="nav-link" th:href="@{/login}">LOGIN</a></li>
<!--                    <li class="nav-item" th:if="${currentUser}">-->
<!--                        <a class="nav-link" th:text="${fullName}"></a>-->
<!--                        <form th:action="@{/logout}" method="post">-->
<!--                            <input type="submit" value="Sign Out"/>-->
<!--                        </form>-->
<!--                    </li>-->
                    <li>
                        <li class="nav-item" th:if="${currentUser == null}"><a class="nav-link" th:href="@{/signup}">JOIN</a></li>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/pmb.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">PMB RANKING</h1>
                        <hr class="star-light">
                        <span class="skills">Performances - Musicals - Books</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ranking Grid Section -->
    <section id="ranking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>RANKING LIST</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ranking-item">
                    <a href="#MusicalRanking" class="ranking-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Musical Ranking</i>
                            </div>
                        </div>
                        <img src="img/ranking/musical.jpg" class="img-responsive" alt="musical">
                    </a>
                </div>
                <div class="col-sm-4 ranking-item">
                    <a href="#PerformanceRanking" class="ranking-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Performance Ranking</i>
                            </div>
                        </div>
                        <img src="img/ranking/performance.jpg" class="img-responsive" alt="performance">
                    </a>
                </div>
                <div class="col-sm-4 ranking-item">
                    <a href="#BookRanking" class="ranking-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i>Book Ranking</i>
                            </div>
                        </div>
                        <img src="img/ranking/book.jpg" class="img-responsive" alt="book">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>연극, 뮤지컬, 도서 랭킹을 한 눈에 볼 수 있습니다!</p>
                </div>
                <div class="col-lg-4">
                    <p>You can see performances, musicals and book rankings at a glance!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SEARCH</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row control-group">
                        <div class="floating-label-form-group controls">
                            <p></p>
                            <input type="text" placeholder="검색어를 입력하세요." id="name">
                            <button type="button" class="btn btn-success btn-primary btn-" style="float: right;">검색</button>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 id="review"><a href = "" style="color:white">BEST REVIEW</a></h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy;
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

</body>

</html>